<% content_for :title, "RuBay" %>
<% content_for :bgcolor, "#FFFFFF" %>

<%= render "users/welcome/login_modal" %>
<% if user_signed_in? %>
	<%= render "home/checkout_cart_modal" %>
	<%= render "home/clear_cart_modal" %>
<% end %>

<p style="font-size: 200%; text-align: center"><span class="label label-danger">Featured Items</span></p>

<div id="sync1" class="owl-carousel owl-theme" >
	<% @top_items.each do |t| %>
		<div class="item row" >
			<div class="item-img col-xs-8 col-sm-8 col-md-8 col-lg-8 text-center">
				<% if t.img_url==nil %>
					<img src="<%= image_path('Logo_Ruby.png') %>" alt="<%= t.name %>" style="max-width:100%;max-height:100%;">
				<% else %>
					<img src="<%= t.img_url %>" alt="<%= t.name %>" style="max-width:100%;max-height:100%">
				<% end %>
			</div>
			<div class="item-desc col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding:10px 10px 10px 20px;">
				<div class="row" >
					<div class="item-desc col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<h3 class="text-center"> <%= link_to t.name, controller:"home", action:"item", id:t.id %> </h3>
						<p> <%= t.desc %> </p>
					</div>
				</div>
				<div class="row">
					<div class="item-desc col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<br />
						<p> Get one for <%= number_to_currency(t.unit_price, unit:"Php") %> (only <%= t.qty %> left)!</p>
					
						<% if t.qty>0 %>
							<%= form_tag url_for(:controller=>"home", :action => "addtocart"), :method => "post" do %>
								<%= hidden_field_tag :item_id,  t.id %>
								<div class="input-group">
									<%= number_field_tag :item_qty, 1, min: 1, max:t.qty, step:1, class:"form-control"  %>
									<span class="input-group-btn">
										<% if user_signed_in? %>
											<%= submit_tag 'Add to Cart', class:"btn btn-danger" %>
										<% else %>
											<%= link_to "Add to Cart", "#loginModal", "data-toggle" => "modal", :class => 'btn btn-danger' %>
										<% end %>
									</span>
								</div>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>	
		</div>		
	<% end %>
</div>	
	
<div id="sync2" class="owl-carousel owl-theme">
	<% @top_items.each do |t| %>
		<div class="item">
			<% if t.img_url==nil %>
				<img src="<%= image_path('Logo_Ruby.png') %>" alt="<%= t.name %>" style="max-width:100%;max-height:100%">
			<% else %>
				<img src="<%= t.img_url %>" alt="<%= t.name %>" style="max-width:100%;max-height:100%">
			<% end %>
		</div>
	<% end %>
</div>

<div class="customNavigation">
	<a class="btn prev btn-default" style="display: inline-block; color:#CC3300">Previous</a>
	<a class="btn next btn-default" style="display: inline-block; color:#CC3300">Next</a>
</div>
