<% content_for :title, "RuBay: Sign up" %>
<% content_for :bgcolor, "#E9E9E9" %>

<% if devise_error_messages! != "" %>
  <div class="alert alert-danger alert-dismissable">  
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= devise_error_messages! %>
  </div>
<% end %>

<div id="signup">  
  <%= form_for(resource, as: resource_name, html: {class:"form-signin"}, url: '/signup') do |f| %>
    <h2 class="form-signin-heading" style="font-weight:bold">Sign up</h2>
    <div class="field" style="margin-bottom:10px">
      <%= f.email_field :email, autofocus: true, class:"form-control", placeholder: "Email address" %>
    </div>
    <div class="field">
      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "Password" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm Password" %>
    </div>
    <div class="actions" style="margin-top:10px">
      <%= f.submit "Sign up", class:"btn btn-danger", "style" => "width:49%; display:inline-block;margin-bottom:5px" %>
      <%= link_to "Log in", '/login', :class => 'btn btn-primary', "style" => "width:49%;display:inline-block;margin-bottom:5px" %>
      <!--%= link_to "Forgot your password?", '/password', :class => 'btn btn-block btn-sm' %-->
    </div>
  <% end %>
</div>
  




